header {    
    width: 100%;
    height: @headerHeight;
    background-image: url(images/headerBackground.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;
}

header .logo {
    width: auto;
    margin-left: 24px;
    height: @headerHeight;
    line-height: @headerHeight;
    float: left;
}

header .logo img {
    vertical-align: middle;
}