@import "reset";
@import "malleable";

@topBottomBarHeight: 40px;
@footerHeight: 40px;
@footerColor: #3c3c3c;
@activeColor: #ff9800;

html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Malleable', 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @topBottomBarHeight;
}

main {
    position: fixed;
    top: @topBottomBarHeight;
    bottom: @topBottomBarHeight;
    left: 10px;
    right: 10px;    
}

.searchSection, .listsSections {
    width: 50%;
    float: left;
}

.listSection {
    width: 33.33%;
    float: left;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: @footerHeight;
    color: @footerColor;
}
footer div {
    width: 100%;
    height: @footerHeight;
    line-height: @footerHeight;
    background: #ebebeb;
}

/* Search section - START */
.searchSection, .listsSections {
    width: 50%;
    height: 100%;
    float: left;
}

.searchSectionInnerBox {
    width: 80%;
    margin: 70px auto 0 auto;
}
/* Search section - END */

.listSection {
    width: 33.33%;
}

.listItemLink {
    float: right;
    margin-left: 15px;
    width: 16px;
    height: 16px;
}

.alreadyKnowLink {
    background-image: url('/images/POC_images_15.png');
    width: 20px;
}

.alreadyKnowLink:hover {
    background-image: url('/images/POC_images_15_orange.png');
}

.wantedLink {
    background-image: url('/images/POC_images_17.png');
}

.wantedLink:hover {
    background-image: url('/images/POC_images_17_orange.png');
}

.notInterestedLink {
    background-image: url('/images/POC_images_19.png');
}

.notInterestedLink:hover {
    background-image: url('/images/POC_images_19_orange.png');
}


.technologyTag {
    font-family: 'Malleable Regular', 'PT Sans', Helvetica, Arial, sans-serif;
    background-color: #e5e5e5;    
    font-weight: 400;
    float: left;
    padding: 5px;
}

.suggestedTags li {
    border-bottom: solid #d7d7d7 1px;
    padding: 8px 0;
    overflow: hidden;
}

footer a {
    text-decoration: none;   
}

footer a:link, a:visited {
    color: @footerColor;
}

footer a:hover, a:active {
    color: @activeColor;
}

#footerCopyrights {
    float: left;
    width: auto;
    margin-left: 25px;
}

#footerLinks {
    float: right;
    width: auto;
    margin-right: 5px;
}

#footerLinks ul {
    font-size: 0;
}

#footerLinks li {
    width: auto;
    font-size: 14px;
    display: inline-block;
}

#footerLinks li a {
    padding: 0px 10px;
}

#footerLinks li:not(:first-child) a {
    border-left-width: 1px;
    border-left-color: @footerColor;
    border-left-style: solid;
    line-height: 10px;
}