<!DOCTYPE html>
<html ng-app="whatToLearnNext">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/mainNew.css" />

    <script src="/app.js"></script>

    <title>What to learn next?</title>
</head>

<body ng-controller="mainController">
    <main class="main">
        <section class="searchSection" id="search">
            <div class="searchSectionInnerBox">
                <h1>What to learn next?</h1>
                <form>
                    <input type="text" ng-model="query" ng-keypress="keyPress($event)" />
                </form>
                <ul id="predictions" ng-if="technologyPredictions">
                    <li ng-repeat="t in technologyPredictions"><span ng-bind="t"></span></li>
                </ul>
                <h2 ng-if="suggestedTechnologies.length > 0">You should learn:</h2>

                <ul id="suggested" class="suggestedTags" ng-if="suggestedTechnologies.length > 0">
                    <li ng-repeat="t in suggestedTechnologies">
                        <div class="technologyTag">
                            <span ng-bind="t">t</span>
                        </div>
                        <!--- <a href="" ng-click="alreadyKnow(t)">I already know that</a>
                        - <a href="" ng-click="wanted(t)">I want to learn that</a>
                        - <a href="" ng-click="avoid(t)">I don't want to learn that</a>-->
                    </li>
                </ul>
            </div>
        </section>
        <section class="listsSections" id="lists">
            <section class="listSection" id="wantToLearn">
                <h1>I want to learn that!</h1>  
            </section>
            <section class="listSection" id="knowThat">
                <h1>I know that!</h1>  
            </section>
            <section class="listSection" id="notInterested">
                <h1>I'm not interested</h1>  
            </section>
            <section class="downloadSection" id="download">

            </section>
        </section>   
    </main>
    <footer>
        <div>

            <!-- Copyrights -->
            <div id="footerCopyrights">
                &copy;Future Processing Sp z o.o.
            </div>
            
            <!-- Links -->
            <div id="footerLinks">
                <ul>
                    <li><a href="/licence">Licence</a></li>
                    <li><a href="https://github.com/FutureProcessing/what-should-i-learn-next/" target="_blank">GitHub Source</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            
        </div>
    </footer>
</body>

</html>
note
