<!DOCTYPE html>
<html ng-app="whatToLearnNext">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/angucomplete.css" />
    <link rel="stylesheet" type="text/css" href="/angularTooltips.css" />

    <script src="/app.js"></script>
    <script src="/mainController.js"></script>
    <script src="/angularTooltips.js"></script>

    <title>FP - What to learn next?</title>
</head>

<body ng-controller="mainController">

    <!-- header -->
    <header>
        <div class="logo">
            <img src="images/logo.png" alt="Project logo" />
        </div>
    </header>

    <!-- main -->
    <main class="main">
        <div class="mainLayoutOuterContainer">
            <div class="mainLayoutInnerContainer">
                <section class="searchSection" id="search">
                    <div class="searchSectionInnerBox">
                        <h1 class="searchSectionHeader ellipsis" title="What to learn next?">What to learn next?</h1>

                        <div class="searchInputContainer">
                            <div id="technologiesSearch" data-angucomplete data-searchfields="" data-titlefields="" data-minlength="1" data-selectedobject="selectedTechnology" data-searchstr="query" data-localdata="technologyPredictions" data-placeholder="Type what you already know...">
                            </div>
                            <div class="magnifier"></div>
                        </div>

                        <ul id="suggested" class="suggestedTags" ng-if="suggestedTechnologies.length > 0">
                            <li ng-repeat="technology in suggestedTechnologies">
                                <div class="technologyTag">
                                    <span ng-bind="technology" title="{{technology}}"></span>
                                </div>

                                <a href="" class="listItemLink notInterestedLink" ng-click="avoid(technology)" tooltips data-title="I'm not interested"></a>
                                <a href="" class="listItemLink alreadyKnowLink" ng-click="alreadyKnow(technology)" tooltips data-title="I want to learn that!"></a>
                                <a href="" class="listItemLink wantedLink" ng-click="wanted(technology)" tooltips data-title="I know that!"></a>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- wanted technologies -->
                <section class="listSection" id="wantToLearn">
                    <h1 class="technologyTitle wantedTechnologyTitle ellipsis">
                        I want to learn that!
                    </h1>
                    <ul class="technologiesList">
                        <li class="technologyItem" ng-repeat="technology in wantedTechnologies">
                            <div class="technologyItemContent">
                                <div class="technologyTag removableTechnologyTag ellipsis">
                                    <span ng-bind="technology" title="{{technology}}"></span>
                                </div>
                                <a href="" class="technologyRemoveButton" ng-click="removeWanted(technology)" tooltips data-title="Remove"></a>
                            </div>
                        </li>
                    </ul>
                </section>

                <!-- known technologies -->
                <section class="listSection" id="knowThat">
                    <h1 class="technologyTitle knownTechnologyTitle ellipsis">
                        I know that!
                    </h1>
                    <ul class="technologiesList">
                        <li class="technologyItem" ng-repeat="technology in knownTechnologies">
                            <div class="technologyItemContent">
                                <div class="technologyTag removableTechnologyTag ellipsis">
                                    <span ng-bind="technology" title="{{technology}}"></span>
                                </div>

                                <a href="" class="technologyRemoveButton" ng-click="removeKnown(technology)" tooltips data-title="Remove"></a>
                            </div>
                        </li>
                    </ul>
                </section>

                <!-- avoided technologies -->
                <section class="listSection" id="notInterested">
                    <h1 class="technologyTitle avoidTechnologyTitle ellipsis">
                        I'm not interested
                    </h1>
                    <ul class="technologiesList">
                        <li class="technologyItem" ng-repeat="technology in avoidTechnologies">
                            <div class="technologyItemContent">
                                <div class="technologyTag removableTechnologyTag ellipsis">
                                    <span ng-bind="technology" title="{{technology}}"></span>
                                </div>
                                <a href="" class="technologyRemoveButton" ng-click="removeAvoid(technology)" tooltips data-title="Remove"></a>
                            </div>
                        </li>
                    </ul>
                </section>

                <!-- download -->
                <section class="downloadSection" id="download"></section>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <!-- Copyrights -->
        <div id="footerCopyrights">
            &copy;Future Processing Sp z o.o.
        </div>

        <!-- Links -->
        <div id="footerLinks">
            <ul>
                <li><a href="/licence" target="_blank">Licence</a></li>
                <li><a href="https://github.com/FutureProcessing/what-should-i-learn-next/" target="_blank">GitHub Source</a></li>
                <li><a href="http://www.future-processing.com/contact/" target="_blank">Contact</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>
